body {
  /*background-color : #499090;*/
  background-color : #c0d0d0;
}

h1 {
  text-align: center;
}

div {
  background-color : #c0d0d0;
}

table {
  background-color : #a0c0c0;
  margin: 5px;
  padding: 5px;
  width: 80%;
}

th {
  text-align: left;
}

ul {
  list-style: none;
}

button {
  background-color : #d0d0d0;
  font-size: 16px;
}

button:hover {
  background-color : #50a0a0;
}


.confbutton {
  background-color : #50a0a0;
  font-size: 12px;
  border: none; 
}

.confbutton:hover {
  background-color : #d0d0d0;
}

.confinfo {
  font-size: 12px;
  background-color : #c0d0d0;
  padding: 2px;
//border-style: double;
}

.infobg {
  background-color : #50a0a0;
}


.loggingbox {
  float: left;
  margin: 5px;
  padding: 1px 1px 1px 5px;
  width: 40%;
  border-radius: 3px;
}


.infobox {
  /*background-color : #50a0a0; */ 
  background-color : #a0c0c0;
  position: relative;
  margin: 5px;
  padding: 5px;
  width: 78%;
  height: 50px;
}


.statusbox {
  float: right;
  margin: 5px;
  padding: 1px 1px 1px 5px;
  width: 55%;
}

.sensorinfo {
  background-color : #a0c0c0;
  margin: 1px 5px 20px 5px;
  padding: 5px;
  width: 80%;
  min-height: 260px;
  border-style: double;
}

.content {
  position: relative;
  width: 90%;  
}

@media only screen and (max-width: 800px) {
  .content {
    width: 100%;  
  }


  .loggingbox {
    position: relative;
    margin: 5px;
    padding: 1px 1px 1px 5px;
    width: 90%;
  }

  .statusbox {
    position: relative;
    margin: 5px;
    padding: 1px 1px 1px 5px;
    width: 90%;
  }


}

